<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout"
>

<head>

  <title>403</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
</head>

<body>
<div layout:fragment="content" >
 <div class="col-md-6">
  <div class="panel panel-primary">
   <div class="panel-heading" >Avertissement</div>
    <div class="panel-body" >
    <div class="red" >
     Vous n'avez pas le droit d'acceder a cette ressource
    </div>
   </div>
  </div>
 </div>
</div>

</body>
</html>