<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{ProfesseurTemplate}">
<head>
<meta charset="UTF-8"/>
<title>Publications</title>
</head>

<body>

 <div layout:fragment="content">
 <br>
 <br>
 <br>
  <div class="container">
     
      <table class="table table-striped">
                    <tr>
                    <th>id</th><th>titre</th><th>description</th>
                    </tr>
                    <tr th:each="c:${listeCours}">
                    <td th:text="${c.id}"></td>    
                    <td th:text="${c.titre}"></td>
                    <td th:text="${c.description}"></td>
                    </tr>
      </table>
</div>      
</div>
</body>
</html>