<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{ConseillerTemplate}">
<head>
<meta charset="UTF-8"/>
<title>Editer mon profile</title>
<style type="text/css">
h2{
color: blue;
}
label {
	color: blue;
}

</style>
</head>
<body>

 <div layout:fragment="content">
  <div class="container">
  <h2>Editer mon profile</h2>
  <form th:action="@{/conseiller/editeProfilec/{id}(id=${conseiller.id})}" method="post">
    <!--  
    <div class="form-group">
      <label for="email">email:</label>
      <input type="text" class="form-control" id="email" th:value="${conseiller.email}"   name="email">
      <span class="red" th:errors=${conseiller.email}></span>
    </div>
    -->
    <div class="form-group">
      <label for="nomUtilisateur">nom Utilisateur:</label>
      <input type="text" class="form-control" id="nomUtilisateur" th:value="${conseiller.nomUtilisateur}"  name="nomUtilisateur">
      <span class="red" th:errors=${conseiller.nomUtilisateur}></span>
    </div>
    <div class="form-group">
      <label for="nomComplet">nom Complet:</label>
      <input type="text" class="form-control" id="nomComplet" th:value="${conseiller.nomComplet}"  name="nomComplet">
      <span class="red" th:errors=${conseiller.nomComplet}></span>
    </div>
    
    <div class="form-group">
      <label for="orientation">secteur d'orientation:</label>
      <input type="text" class="form-control" id="orientation" th:value="${conseiller.orientation.libelle}"  name="orientation">
      <span class="red" th:errors=${conseiller.orientation.libelle}></span>
    </div>
    <div class="form-group">
      <label for="etablissement">etablissement:</label>
      <input type="text" class="form-control" id="etablissement" th:value="${conseiller.etablissement.libelle}"  name="etablissement">
       <span class="red" th:errors=${conseiller.etablissement.libelle}></span>
    </div>
  
    <button type="submit" class="btn btn-primary">valider</button>
  </form>
</div>
</div>
</body>
</html>