<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{ConseillerTemplate}">
<head>
<meta charset="UTF-8"/>
<title>Editer article</title>
<style type="text/css">
h2{
color: blue;
}
label {
	color: blue;
}
</style>
</head>
<body>

 <div layout:fragment="content">

<div class="container">
  <h2>Editer Article</h2>
  <form th:action="@{/conseiller/edita/{id}(id=${article.id})}" method="post">
    <div class="form-group">
      <label for="titre">Titre:</label>
      <input type="text" class="form-control" id="titre" placeholder="Enter votre titre ici" th:value="${article.titre}" name="titre">
      <span class="red" th:errors="${article.titre}"></span>
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <input type="text" class="form-control" id="description" placeholder="Enter votre description ici" th:value="${article.description}" name="description">
      <span class="red" th:errors="${article.description}"></span>
    </div>
    <button type="submit" class="btn btn-primary">valider</button>
  </form>
</div>
</div>
</body>
</html>