<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{EtudiantTemplate}">
<head>
<meta charset="UTF-8"/>
<title>Mon Profile</title>
</head>
<body>
      <div layout:fragment="content">
      <br>
      <br>
      <div class="container">
      <h3 style="text-align: center; color: blue;">Mes Informations Personnels</h3>
      <br>
      <table class="table table-striped">
                    <tr>
                    <th>idUtilisateur</th><th>Niveau Scolaire</th><th>etablissement</th><th>Nom Complet</th><th>Email</th><th>Nom Utilisateur</th><th>Action</th>
                    </tr>
                    
                    <tr th:each="pd:${profilData}">
                    <td th:text="${pd.id}"></td>
                    <td th:text="${pd.libellen}"></td> 
                    <td th:text="${pd.libellee}"></td>
                    <td th:text="${pd.nom_complet}"></td> 
                    <td th:text="${pd.email}"></td>
                    <td th:text="${pd.nom_utilisateur}"></td>
                    <td><a th:href="@{/etudiant/editeProfileEt/{id}(id=${pd.id})}">Editer</a></td> 

                    </tr>
                    
      </table>
    
</div>
</div>
</body>
</html>